@import url('https://fonts.googleapis.com/css?family=Volkhov:400,700');

html {
  color: #434759;
}

header {
  background: #5d75ef; /* Old browsers */
  background: -moz-linear-gradient(top, #5d75ef 0%, #8194f0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5d75ef 0%,#8194f0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5d75ef 0%,#8194f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d75ef', endColorstr='#8194f0',GradientType=0 ); /* IE6-9 */
  height: 200px;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
}

h2 {
  font-family: 'Volkhov', serif;
  font-size: 2.5rem;
}

.card-panel {
  cursor: pointer;
}